################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Apis/MyTell.IdentityManagement.Api/bin/Debug/net8.0
/src/Apis/MyTell.IdentityManagement.Api/obj
